.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
        width: 300px;
        height: 500px;
        background-color: #24A19C;
        .wrapper{
            .field{
                margin: 20px 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input{
                    display: flex;
                    align-items: center;
                    height: 30px;
                }
            }
            .btn{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                flex-direction: column;
                button{
                    cursor: pointer;
                    width: 100px;
                }
            }
        }
    }
    
}